body {
    background-color: rgb(234, 248, 238);
}

body {
    /* Sans Serif font stack is implemented to help select the best font for each type of computer operating system */
    font-family: Arial, Helvetica, sans-serif;
  
    /* set body font size to 1.75rem, which is 1.75x more than the font-size of 10px, making it 17.5px  */
    font-size: 1.75rem;
    line-height: 1.5;
    color: var(--gin);
    background-color: var(--outer-space);
    max-width: 100%;
  }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.625rem;
  font-weight: 700;
  line-height: 1.1;
}

p {
    margin-bottom: 1rem;
  }

header {
    background-color: rgb(2, 82, 2);
    text-align: center;
    font-size: 40px;
    width: 100%;
}

header h1 {
    color: rgb(245, 176, 137);
    background-color: white;
    border: 5px solid rgb(245, 176, 137);
    display: inline-block;
    border-radius: 12px;
    margin: 15px;
    }


nav {
    text-align: center;
    background-color: rgb(245, 176, 137);
    padding: 10px;
}

nav ul{
    color: rgb(2, 82, 2);
    max-width: 1200px;
    margin: 0 auto;
}

nav li{
    text-align: center;
    border: 3px solid rgb(2, 82, 2);
    background-color: white;
    width: 22%;
    display: inline-block;
    font-size: 24px;
    border-radius: 12px;
}

.banner img {
    max-width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
  }

  .justify-center {
    justify-content: center;
  }

  div {
    background-color: aliceblue;
    margin: 5px;
    padding: 5px;
  }

  div figure h3 {
    position: relative;
    top: 27px;
    display: block;
    width: 100%;
    

  }

  .card-column {
    flex: 1 0 100%;
    padding: 1.5rem;
    /* when the screen resizes, make it so our columns don't jump in size */
    transition: flex-basis 500ms linear;
    margin-bottom: 1.5rem;
  }

  /* make each code card a flexbox column to align and justify content within it */
.code-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100%;
    padding: 2rem;
    color: purple;
  
    /* outline is like border, but on the outside of the box instead of inside */
    outline: 2px solid black;
    /* outline-offset: -2px; */
    transition: all 0.5s ease-in-out;
    border-radius: 4px;
  }

  .code-card .card-header {
    /* use position and negative margins to move title of card over the card's outline and create an overlap effect */
    position: relative;
    margin: -3rem 0 1.5rem 0;
    padding: 0.5rem 1rem;
    background-color: rgb(94, 93, 93);
    color: white;
    border: 2px solid black;
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
   }

section div img {
        height: 200px;
        width: 200px;
        border: 0px;
        border-radius: 8px;
        
    }

main {

    background-color: rgb(197, 221, 243);
}

main p {
    line-height: 2em;

}

footer {
        background-color: rgb(2, 82, 2);
        text-align: center;
        font-size: 30px;
        width: 100%;
}

footer h4 {
        color: rgb(245, 176, 137);
        background-color: white;
        border: 5px solid rgb(245, 176, 137);
        display: inline-block;
        border-radius: 12px;
        margin: 15px;
}

footer ul {
    text-align: center;
    background-color: rgb(245, 176, 137);
    padding: 10px;
}

footer li {
    text-align: center;
    border: 3px solid rgb(2, 82, 2);
    background-color: white;
    width: 22%;
    display: inline-block;
    font-size: 24px;
    border-radius: 12px;
}

footer h5 {
    color: rgb(245, 176, 137);
    background-color: white;
    border: 5px solid rgb(245, 176, 137);
    display: inline-block;
    border-radius: 5px;
    margin: 15px;
    font-size: 12px;
}

/* Pseudo */

nav li:hover {
    text-decoration: underline;
    background-color: darkgoldenrod;
}

footer li:hover {
        text-decoration: underline;
        background-color: darkgoldenrod;
    }

@media screen and (max-width:560px) {
    section div {
        display: block;
    }
}

/* .figure:hover {
    position: relative;
    top: -4px;
} */

/* .mainproj img{
    height: 300px;
    width: 300px;
}

.minorproj img{
height: 200px;
width: 200px;
} */

/* display: flex;
flex-direction: row;
flex-wrap: wrap;
}

.minorproj {
    display: flex;
    flex-direction: column;
}

.minorproj {
    display: grid;
} */